.patterns-sidebar.affix {
  position: static;
}
.patterns-sidebar .nav {
  margin-bottom: 20px;
}
.patterns-sidebar .nav > li > a {
  display: block;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 500;
  color: #767676;
}
.patterns-sidebar .nav > li > a:hover,
.patterns-sidebar .nav > li > a:focus {
  padding-left: 9px;
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #337ab7;
}
.patterns-sidebar .nav > .active > a,
.patterns-sidebar .nav > .active:hover > a,
.patterns-sidebar .nav > .active:focus > a {
  padding-left: 8px;
  font-weight: bold;
  color: #337ab7;
  background-color: transparent;
  border-left: 2px solid #337ab7;
}
.patterns-sidebar .nav .nav {
  display: none;
  padding-bottom: 10px;
}
.patterns-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
}
.patterns-sidebar .nav .nav > li > a:hover,
.patterns-sidebar .nav .nav > li > a:focus {
  padding-left: 29px;
}
.patterns-sidebar .nav .nav > .active > a,
.patterns-sidebar .nav .nav > .active:hover > a,
.patterns-sidebar .nav .nav > .active:focus > a {
  padding-left: 28px;
  font-weight: 500;
}
.table-meta {
  max-width: 550px;
  margin: 30px auto;
}
.pattern-row {
  margin-bottom: 120px;
}
.pattern-preview {
  margin-top: 30px;
  padding: 40px;
  border: 10px solid #ebebeb;
}
.bg-gray {
  background-color: #eee;
}
.media-left .img-responsive {
  max-width: none;
}
.card {
  width: 350px;
}
