default:
  autoload:
    - '%paths.base%/tests/features/bootstrap'
  suites:
    default:
      paths:
        - '%paths.base%/tests/features'
      contexts:
        - 'Drupal\DrupalExtension\Context\ConfigContext'
        - 'Drupal\DrupalExtension\Context\MinkContext'
        - 'Drupal\DrupalExtension\Context\MarkupContext'
        - 'Drupal\DrupalExtension\Context\MessageContext'
        - 'Drupal\DrupalExtension\Context\DrupalContext'
        - 'NuvoleWeb\Drupal\DrupalExtension\Context\DrupalContext'
        - 'NuvoleWeb\Drupal\DrupalExtension\Context\SelectFieldContext'
        - 'NuvoleWeb\Drupal\DrupalExtension\Context\VisibilityContext'
        - 'NuvoleWeb\Drupal\DrupalExtension\Context\ContentContext'
        - 'FeatureContext'
  extensions:
    Behat\MinkExtension:
      goutte: ~
      selenium2: ~
      javascript_session: selenium2
      base_url: http://127.0.0.1:8888
    NuvoleWeb\Drupal\DrupalExtension:
      api_driver: 'drupal'
      drupal:
        # Change this to the absolute path to Drupal install.
        drupal_root: 'build'
      region_map:
        left sidebar: '#sidebar-first'
        content: '#content'
        media_heading: '.media-heading'
        media_text: '.media-text'
        jumbotron: '.jumbotron'
        quote: '.quote'
        modal: '.modal-dialog'
      selectors:
        error_message_selector: '.alert.alert-danger'
      text:
        node_submit_label: 'Save and publish'
    Bex\Behat\ScreenshotExtension:
      active_image_drivers: img42
  formatters:
    progress: ~
