drupal:
  root: "build"
  base_url: "http://nginx"
  database:
    host: "mariadb"
    port: "3306"
    name: "drupal"
    user: "drupal"
    password: "drupal"
  post_install:
    - "./vendor/bin/drush en -y ui_patterns ui_patterns_library ui_patterns_ds ui_patterns_field_group ui_patterns_layouts ui_patterns_views"
    - "./vendor/bin/drush en -y coffee config_devel"
    - "./vendor/bin/drush en -y page_manager paragraphs panels"
    - "./vendor/bin/drush cr"
  settings:
    settings:
      file_scan_ignore_directories:
        - "vendor"
        - "${drupal.root}"

selenium:
  host: "http://selenium:4444"
  browser: "chrome"

commands:
  drupal:site-setup:
    - { task: "symlink", from: "../../../../modules", to: "${drupal.root}/modules/custom/ui_patterns/modules" }
    - { task: "symlink", from: "../../../../src", to: "${drupal.root}/modules/custom/ui_patterns/src" }
    - { task: "symlink", from: "../../../../templates", to: "${drupal.root}/modules/custom/ui_patterns/templates" }
    - { task: "symlink", from: "../../../../tests", to: "${drupal.root}/modules/custom/ui_patterns/tests" }
    - { task: "symlink", from: "../../../../ui_patterns.info.yml", to: "${drupal.root}/modules/custom/ui_patterns/ui_patterns.info.yml" }
    - { task: "symlink", from: "../../../../ui_patterns.install", to: "${drupal.root}/modules/custom/ui_patterns/ui_patterns.install" }
    - { task: "symlink", from: "../../../../ui_patterns.module", to: "${drupal.root}/modules/custom/ui_patterns/ui_patterns.module" }
    - { task: "symlink", from: "../../../../ui_patterns.services.yml", to: "${drupal.root}/modules/custom/ui_patterns/ui_patterns.services.yml" }
    # Generate settings.testing.php, it will be used when running functional tests.
    - { task: "process-php", type: "write", config: "drupal.settings", source: "${drupal.root}/sites/default/default.settings.php", destination: "${drupal.root}/sites/default/settings.testing.php", override: true }
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:phpunit" }
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
