{#
/**
 * @file
 * Thumbnail pattern.
 */
#}
<div class="card">
  <div class="thumbnail">
    {{ image }}
    <div class="caption">
      <h3>{{ title }}</h3>
      <p>{{ text }}</p>
    </div>
  </div>
</div>
