{# Prepare presentational attributes #}
{% if image is not empty %}
  {% set attributes = attributes.setAttribute('style', 'background-image: linear-gradient(to right, black, black, rgba(0, 0, 0, 70%), transparent), url("' ~ image ~ '");') %}
{% endif %}

{# Markup for the component #}
<div {{ attributes }}>
  <div class="component--my-widget--header">
    <h3>Heading: {{ heading }}</h3>
  </div>
  <div class="component--my-widget--body">
    {% block widget_body %}
      {{ widget_body }}
    {% endblock %}
  </div>
</div>
