{#
/**
 * @file
 * UI Pattern library standalone page, override this in your theme.
 */
#}

{% if pattern is not empty %}
  <div class="pattern-preview pattern-preview__{{ pattern.definition.id }}">
    {{ pattern.meta }}

    {# Rendered pattern preview. #}
    <fieldset class="pattern-preview__preview">
      <legend>{{ "Preview"|t }}</legend>
      {{ pattern.rendered }}
    </fieldset>
  </div>
{% endif %}
