{#
/**
 * @file
 * UI Pattern library standalone page, override this in your theme.
 */
#}

{% if pattern is not empty %}
  <div class="pattern-preview pattern-preview--{{ pattern.definition.id }}">
    {{ pattern.meta }}

    {# Rendered pattern preview. #}
    <fieldset>
      <legend>{{ "Preview"|t }}</legend>
      <div>
        {{ pattern.rendered }}
      </div>
    </fieldset>
  </div>
{% endif %}
