
<div class="media">
  {% if image is not empty %}
    <div class="media-left">
      {{ image }}
    </div>
  {% endif %}
  <div class="media-body">
    <h4 class="media-heading">{{ title }}</h4>
    <div class="media-text">
      {{ body }}
    </div>
  </div>
</div>
