{# Main #}
{% block main %}
  <div class="page-header" style="background-color: #f7f7f9; margin-top: -15px;">
    <div class="container">
      <h1>
        Showcase<br>
        <small>Demo site for the <a href="https://www.drupal.org/project/ui_patterns" target="_blank">UI Patterns</a> module.</small>
      </h1>
    </div>
  </div>

  <div role="main" class="main-container container">
    <div class="row">
      {# Content #}
      <section{{ content_attributes.addClass('col-sm-12') }}>

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>
    </div>
  </div>
{% endblock %}

<footer class="footer container" role="contentinfo">
  <small class="text-muted">
    UI Patterns test site - <a href="https://www.drupal.org/project/ui_patterns" target="_blank">https://www.drupal.org/project/ui_patterns</a>
  </small>
</footer>
