{#
/**
 * @file
 * Jumbotron pattern.
 */
#}

<div class="jumbotron">
  <h2>{{ title }}</h2>
  <p>{{ subtitle }}</p>
  <p><a class="btn btn-primary" href="{{ link_url }}" role="button">{{ link_label }}</a></p>
</div>
