{#
/**
 * @file
 * Jumbotron pattern.
 */
#}

<div class="jumbotron">
  <h2 style="margin-top: 0;">{{ title }}</h2>
  <p>{{ subtitle }}</p>
  {% if link_label is not empty and link_url is not empty %}
    <p><a class="btn btn-primary" href="{{ link_url }}" role="button">{{ link_label }}</a></p>
  {% endif %}
</div>
