{#
/**
 * @file
 * UI Pattern library standalone page, override this in your theme.
 */
#}

{% if pattern is not empty %}

  {{ pattern.meta }}
  {# Rendered pattern preview. #}
  <div class="pattern-preview">
    {{ pattern.rendered }}
  </div>

{% endif %}
