<table class="table table-bordered">
  <tr>
    <td class="bg-gray"><b>Author:</b></td>
    <td>{{ author }}</td>
  </tr>
  <tr>
    <td class="bg-gray"><b>Publication date:</b></td>
    <td>{{ date }}</td>
  </tr>
  <tr>
    <td class="bg-gray"><b>Categories:</b></td>
    <td>{{ categories }}</td>
  </tr>
</table>
