<h5>Pattern 2</h5>
<table class="table table-bordered table-striped">
  <tr>
    <td>Title 2</td>
    <td>{{ title }}</td>
  </tr>
  <tr>
    <td>Subtitle 2</td>
    <td>{{ subtitle }}</td>
  </tr>
</table>
