<h5>Pattern 2</h5>
<table class="table table-bordered table-striped">
  <tr>
    <td><b>Title 1</b></td>
    <td>{{ title }}</td>
  </tr>
  <tr>
    <td><b>Subtitle 1</b></td>
    <td>{{ subtitle }}</td>
  </tr>
</table>
