<h5>Pattern 1</h5>
<table class="table table-bordered table-striped">
  <tr>
    <td>Title 1</td>
    <td>{{ title }}</td>
  </tr>
  <tr>
    <td>Subtitle 1</td>
    <td>{{ subtitle }}</td>
  </tr>
</table>
